/* Custom styles for header and footer */
header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #5E3792; /* Signature color */
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar a {
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slightly lighter hover effect */
    color: #ffffff; /* Keep text white */
  }
  
  /* Main Content */
  .content {
    margin-left: 250px; /* Leave space for the sidebar */
    padding: 20px;
    background: linear-gradient(45deg, #F9F9F9, #F1F1F1);
    font-family: 'Lexend', sans-serif;
  }
  